<ul class="sidebar">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Orders</a></li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
    Handlebars.registerPartial('sidebar', headerPartial);
</script>
